<div class="main" fxLayout="row" fxLayout.lt-md="column" ngClass.sm="image-res">
  <div
    class="cards-container"
    fxFlex="60%"
    fxLayout="column"
    fxLayout.lt-md="column"
  >
    <div class="boxmain" fxLayout="row" fxLayout.lt-md="column">
      <div class="box1" fxFlex="50%" fxFlex.lt-md="100%">
        <mat-card
          class="card1"
          fxLayoutAlign="start center"
          fxLayout="column"
          fxFlex.lt-md="100%"
        >
          <mat-card-header>
            <mat-card-title>Contact me</mat-card-title>
          </mat-card-header>

          <mat-card-content fxLayout="column">
            <!-- <p>
              Maryam Hospital, West Arghavan Alley, 45 Meters Golshahr Ave,
              Karaj, Alborz, Iran<br /><br />
              +982633509323<br />
              +982633502347<br /><br />
              info@maryamhospital.ir<br />
              maryamhospital.ir@gmail.com<br />
            </p> -->

            <div>
              Maryam Hospital, West Arghavan Alley, 45 Meters Golshahr Ave,
              Karaj, Alborz, Iran
            </div>
            <div>+982633509323</div>
            <div>+982633502347</div>
            <div>info@maryamhospital.ir</div>
            <div>maryamhospital.ir@gmail.com</div>
          </mat-card-content>
          <mat-card-actions> </mat-card-actions>
        </mat-card>
      </div>
      <div class="box2" fxFlex="50%" fxHide.lt-md></div>
    </div>
    <div class="boxsecond" fxLayout="row">
      <div class="box3" fxFlex="50%" fxHide.lt-md></div>
      <div class="box4" fxFlex="50%" fxFlex.lt-md="100%">
        <mat-card class="card2" fxLayoutAlign="start center" fxLayout="column">
          <mat-card-header>
            <mat-card-title>Contact me</mat-card-title>
          </mat-card-header>

          <mat-card-content fxLayout="column">
            <div>
              Maryam Hospital, West Arghavan Alley, 45 Meters Golshahr Ave,
              Karaj, Alborz, Iran
            </div>
            <div>+982633509323</div>
            <div>+982633502347</div>
            <div>info@maryamhospital.ir</div>
            <div>maryamhospital.ir@gmail.com</div>
          </mat-card-content>
          <mat-card-actions> </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="image-container" fxFlex="40%"></div>
</div>
