// .main {
//   height: 100vh;
// }

// .image-container {
//   background-image: url("../../../assets/images/mozhgan1.jpeg");
//   background-size: cover;
//   background-repeat: no-repeat;
// }

// .image-res {
//   height: 100vh;
// }

// .cards-container {
// }
// .boxmain {
//   height: 50%;
// }
// .boxsecond {
//   height: 50%;
// }
// .box1 {
//   height: 100%;
//   width: 50%;
// }

// .box2 {
//   height: 100%;
//   width: 50%;
// }

// .box3 {
//   height: 100%;
//   width: 50%;
// }

// .box4 {
//   height: 100%;
//   width: 50%;
// }

// .boxmain {
//   height: 50%;
// }
// .boxsecond {
//   height: 50%;
// }
// .card1 {
//   width: 100%;
//   height: 100%;
//   overflow-wrap: linear;
//   background-image: linear-gradient(
//     to right,
//     rgb(58, 58, 58),
//     rgb(180, 179, 179)
//   );
//   border-radius: 0 8rem 8rem 0;
//   font-size: 8rem;
//   letter-spacing: 0.2rem;
//   font-weight: 600;
//   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
//   color: whitesmoke;
//   -webkit-border-radius: 0 8rem 8rem 0;
//   -moz-border-radius: 0 8rem 8rem 0;
//   -ms-border-radius: 0 8rem 8rem 0;
//   -o-border-radius: 0 8rem 8rem 0;
// }

// .card2 {
//   width: 100%;
//   height: 100%;
//   background-image: linear-gradient(
//     to left,
//     rgb(58, 58, 58),
//     rgb(180, 179, 179)
//   );
//   border-radius: 8rem 0 0 8rem;
//   font-size: 8rem;
//   letter-spacing: 0.2rem;
//   font-weight: 600;
//   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
//   color: whitesmoke;
//   -webkit-border-radius: 8rem 0 0 8rem;
//   -moz-border-radius: 8rem 0 0 8rem;
//   -ms-border-radius: 8rem 0 0 8rem;
//   -o-border-radius: 8rem 0 0 8rem;
// }
.main {
  min-height: 100vh;
  // background-color: rgb(120, 120, 207);
  background-image: url(../../../assets/images/126.jpg);
}
.box1 {
  // background-color: rgb(120, 120, 207);
  min-height: 100vh;
}

.box2 {
  // background-color: rgb(80, 100, 207);
  min-height: 100vh;
}

.box3 {
  // background-color: rgb(40, 80, 207);
  min-height: 100vh;
}
.card3 {
  height: 80%;
  width: 80%;
  box-shadow: 0 10px 10px -5px;
}
.image-container {
  height: 90%;
  width: 90%;
}
.image {
  background-image: url("../../../assets/images/mozhgan1.jpeg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70rem;
  width: 100%;
}
