<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" #sidenav class="sidenav">
    <mat-nav-list role="list" fxLayout="column">
      <mat-list-item role="listitem" routerLink="contactus" class="matlist"
        >Contact us</mat-list-item
      >
      <mat-list-item
        class="matlist"
        role="listitem"
        routerLink="addPateints"
        *ngIf="auth.loggedIn"
        >Add patients</mat-list-item
      >
      <mat-list-item
        class="matlist"
        role="listitem"
        routerLink="loadPateints"
        *ngIf="auth.loggedIn"
        >Load patients</mat-list-item
      >
      <mat-list-item
        (click)="auth.login()"
        *ngIf="!auth.loggedIn"
        class="matlist"
        >Log In</mat-list-item
      >
      <mat-list-item
        (click)="auth.logout()"
        *ngIf="auth.loggedIn"
        class="matlist"
        >Log Out</mat-list-item
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <p>
      <mat-toolbar class="toolbar">
        <button
          (click)="sidenav.toggle()"
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>

        <mat-nav-list role="list" fxLayout="row">
          <mat-list-item role="listitem" routerLink="contactus"
            >Contact us</mat-list-item
          >
          <mat-list-item
            role="listitem"
            routerLink="addPateints"
            *ngIf="auth.loggedIn"
            >Add patients</mat-list-item
          >
          <mat-list-item
            role="listitem"
            routerLink="loadPateints"
            *ngIf="auth.loggedIn"
            >Load patients</mat-list-item
          >

          <mat-list-item (click)="auth.login()" *ngIf="!auth.loggedIn"
            >Log In</mat-list-item
          >
          <mat-list-item (click)="auth.logout()" *ngIf="auth.loggedIn"
            >Log Out</mat-list-item
          >
        </mat-nav-list>
      </mat-toolbar>
    </p>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
