<form
  class="container"
  [formGroup]="patientForm"
  fxLayoutAlign="center start"
  fxLayout.lt-sm="column"
>
  <div fxLayout="column">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Enter patient name" />
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="age" placeholder="Enter patient age" />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        formControlName="number"
        placeholder="Enter a cell number"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Parity</mat-label>
      <mat-select formControlName="parity">
        <mat-option *ngFor="let parity of parities" [value]="parity.name">
          {{ parity.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      style="float: right;"
      (click)="save()"
      routerLink="/loadPateints"
    >
      save
    </button>
  </div>
</form>
{{ tester | json }}
{{ patientForm.value | json }}
