<!-- <div *ngFor="let patient of patients" fxLayout.lt-sm="column">
  <mat-accordion multi="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        {{ patient.name }}
      </mat-expansion-panel-header>
      <p>{{ patient.age }}</p>
      <p>{{ patient.number }}</p>
      <p>{{ patient.parity }}</p>

      <mat-action-row>
        <button mat-button color="primary">EDIT</button>
        <button
          mat-button
          color="warn"
          (click)="onDelete(patient.id)"
          routerLink="/addPateints"
        >
          DELETE
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="info-text mat-body-1">
    No posts added yet!
  </p>
</div>

{{ patients | json }} -->
<div class="actions" fxLayout="row">
  <button mat-raised-button color="primary" (click)="selectAll()">
    select All
  </button>

  <button mat-raised-button color="primary" (click)="deSelectAll()">
    Deselect all
  </button>

  <button mat-raised-button color="primary">
    Delete
  </button>
</div>
<ag-grid-angular
  class="ag-theme-alpine-dark myGrid"
  [rowData]="patients$ | async"
  [columnDefs]="columnDefs"
  (gridReady)="onGridReady($event)"
  rowSelection="multiple"
>
</ag-grid-angular>

<button mat-button (click)="selectAll()">select All</button>
