<!-- <div *ngFor="let patient of patients" fxLayout.lt-sm="column">
  <mat-accordion multi="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        {{ patient.name }}
      </mat-expansion-panel-header>
      <p>{{ patient.age }}</p>
      <p>{{ patient.number }}</p>
      <p>{{ patient.parity }}</p>

      <mat-action-row>
        <button mat-button color="primary">EDIT</button>
        <button
          mat-button
          color="warn"
          (click)="onDelete(patient.id)"
          routerLink="/addPateints"
        >
          DELETE
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="info-text mat-body-1">
    No posts added yet!
  </p>
</div> -->

<ag-grid-angular
  class="ag-theme-alpine-dark myGrid"
  [rowData]="patients$ | async"
  [columnDefs]="columnDefs"
  (gridReady)="onGridReady($event)"
  rowSelection="multiple"
>
</ag-grid-angular>
<div class="actions" fxLayout="row">
  <button mat-raised-button color="primary" (click)="selectAll()">
    select All
  </button>

  <button mat-raised-button color="primary" (click)="deSelectAll()">
    Deselect all
  </button>

  <button mat-raised-button color="warn">
    Delete
  </button>
</div>

<!-- <div class="main" fxLayoutAlign="center center">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="name">
        Name
      </th>
      <td mat-cell *matCellDef="let patient">{{ patient.name }}</td>
    </ng-container>


    <ng-container matColumnDef="Age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="age">Age</th>
      <td mat-cell *matCellDef="let patient">{{ patient.age }}</td>
    </ng-container>


    <ng-container matColumnDef="Number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="number">
        Number
      </th>
      <td mat-cell *matCellDef="let patient">{{ patient.number }}</td>
    </ng-container>


    <ng-container matColumnDef="Parity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="parity">
        Parity
      </th>
      <td mat-cell *matCellDef="let patient">{{ patient.parity }}</td>
    </ng-container>

    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="date">
        Date
      </th>
      <td mat-cell *matCellDef="let patient">{{ patient.date }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef class="delete"></th>
      <td mat-cell *matCellDef="let patient" class="action-link">
        <button
          mat-raised-button
          color="warn"
          routerLink="/patients/addPatients"
        >
          <a (click)="onDelete(patient.id)">Delete</a>
        </button>
      </td>
    </ng-container>
  </table>

 <button
    mat-button
    color="warn"
    (click)="onDelete(dataSource.id)"
    routerLink="/addPateints"
  >
    DELETE
  </button>
</div> -->
